In [1]:
import pandas as pd

In [2]:
df_earLobe = pd.read_csv("datasets/earLobe.csv")
df_innerArm = pd.read_csv("datasets/innerArm.csv")
df_thumbNail = pd.read_csv("datasets/thumbNail.csv")
df_vein = pd.read_csv("datasets/vein.csv")

In [3]:
#df = df_earLobe.append([df_innerArm.drop(0, axis=0), df_thumbNail.drop(0, axis=0), df_vein.drop(0, axis=0)])

In [16]:
#df.index = range(0, 81)

In [4]:
df.head()

,patientID,has_DM2,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,...,Var3152,Var3153,Var3154,Var3155,Var3156,Var3157,Var3158,Var3159,Var3160,Var3161
0,ramanShift,NaN,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,...,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159
1,DM201,1.0,181.800000,181.800000,181.800000,181.800000,181.800000,181.800000,181.800000,181.800000,...,0,0,0,0,0,0,0,0,0,0
2,DM202,1.0,162.800000,162.800000,162.800000,162.800000,162.800000,162.800000,162.800000,162.800000,...,0,0,0,0,0,0,0,0,0,0
3,DM203,1.0,107.400000,107.400000,107.400000,107.400000,107.400000,107.400000,107.400000,107.400000,...,0,0,0,0,0,0,0,0,0,0
4,DM204,1.0,290.166667,290.166667,290.166667,290.166667,290.166667,290.166667,290.166667,290.166667,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_innerArm.iloc[0]

patientID    ramanShift
has_DM2             NaN
Var2                  0
Var3                  1
Var4                  2
Var5                  3
Var6                  4
Var7                  5
Var8                  6
Var9                  7
Var10                 8
Var11                 9
Var12                10
Var13                11
Var14                12
Var15                13
Var16                14
Var17                15
Var18                16
Var19                17
Var20                18
Var21                19
Var22                20
Var23                21
Var24                22
Var25                23
Var26                24
Var27                25
Var28                26
Var29                27
                ...
Var3132            3130
Var3133            3131
Var3134            3132
Var3135            3133
Var3136            3134
Var3137            3135
Var3138            3136
Var3139            3137
Var3140            3138
Var3141            3139
Var3142            3140
Var3143            3141
Var3144            3142
Var3145            3143
Var3146            3144
Var3147            3145
Var3148            3146
Var3149            3147
Var3150            3148
Var3151            3149
Var3152            3150
Var3153            3151
Var3154            3152
Var3155            3153
Var3156            3154
Var3157            3155
Var3158            3156
Var3159            3157
Var3160            3158
Var3161            3159
Name: 0, Length: 3162, dtype: object